@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Inter&family=Lato:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  min-height: 100vh;
}

.grid-inside {
  display: grid;
  grid-template-columns: repeat(10, 60px);
  gap: 0 20px;
}

.on {
  background: -webkit-linear-gradient(#ff4a21, #cd482b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 5px #cd482b;
  display: inline-block;
  /* transform: rotate3d(1, 1, 0, 100deg); */
}

.projectLink {
  box-shadow: 0 0 8px 0 #4aabf3;
}

[data-rmiz-modal-overlay="visible"] {
  background-color: rgba(155, 155, 155, 0.3) !important;
  backdrop-filter: blur(10px);
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(10, 60px);
  gap: 0 20px;
  margin-top: 15px;
}

@layer components {
  .default-grid-holder {
    @apply grid grid-cols-10 lg:grid-cols-main gap-x-0 lg:gap-x-5 justify-end;
  }

  .default-grid-item {
    @apply col-span-full px-5 my-1 lg:my-0 lg:px-0;
  }

  .test {
    @apply col-span-full;
  }

  .link {
    @apply text-black hover:text-main  dark:text-[#BBBBBB] py-3 dark:hover:text-white cursor-pointer  transition duration-200;
  }

  .saffron {
    @apply col-span-full lg:col-span-7 mx-auto text-center;
  }
  .planet {
    @apply col-span-full lg:col-span-3;
  }

  .modeChangeBackground {
    @apply relative border-2 rounded-[24px] w-[72px] h-[37px] transition-[border] hover:border-main overflow-hidden;
  }
  /* .navLanguageTab {
    @apply absolute h-fit w-[100px] animate-appearFromTop top-[155%]  rounded-md left-1/2 -translate-x-1/2 flex flex-col border-[#303030] border-2 bg-[#161616] z-10;
  } */
  .navLanguageTab {
    @apply absolute h-fit w-[100px]   flex flex-col border-2  z-10 rounded-md left-1/2;
  }
  .navLanguageChoice {
    @apply flex gap-2 text-lg w-fit bg-[#ff482B] hover:bg-main  dark:bg-[#2B2B2B] my-2 mx-auto items-center py-1 px-2 rounded-md dark:hover:bg-[#464545] dark:hover:border-[#747474] border dark:border-[#2B2B2B] transition duration-100;
  }
  .textTitle {
    @apply font-lato text-[20px]  mx-auto md:mx-0 md:text-[24px] dark:text-textSub2 font-bold py-2 border-b-4 border-main text-center md:text-left w-full md:w-fit mb-6 md:mb-3;
  }
  .summary-button {
    @apply bg-main2 text-black font-bold text-base flex justify-center items-center gap-3 px-6 py-4 rounded-lg mx-auto my-12;
  }

  .offerCategory {
    @apply dark:text-textSub3 font-lato font-bold whitespace-nowrap min-w-[100px];
  }

  .knownLanguage {
    @apply flex justify-center items-center gap-3;
  }

  /* ////// WORKS */
  .mainWorkCategory {
    @apply text-category lg:border-l text-gray-700 dark:text-textSub border-[#424242]  lg:first-of-type:border-none px-6 cursor-pointer;
  }

  .mainWorkCategory-active {
    @apply dark:text-textSub3 text-black border-b-4 border-main;
  }
  .pause {
    @apply h-[30px] border-l-2 border-[#424242];
  }
  .reactTag {
    @apply bg-main2 px-2 py-1 text-[10px] text-black rounded-md;
  }

  .projectLink {
    @apply font-catamaran text-sm tracking-widest uppercase text-textMain bg-main dark:bg-gradient-to-t from-[#1C3548] to-[#264C69] px-[6px] rounded-md min-w-[75px] text-center;
  }

  .projectLoad {
    @apply bg-gradient-to-b from-[#212121] to-[#151515]  rounded-2xl relative text-center;
  }

  .projectSecondaryImg {
    @apply cursor-pointer hover:scale-105 transition duration-150 w-[265px] h-[165px];
  }

  /* ////////// RESUME */
  .resumeLink {
    @apply relative ml-8 w-fit font-bold text-textSub2 text-base cursor-pointer;
  }
  .hoverMain {
    @apply transition duration-100 hover:text-main;
  }
  .download-view-pdf {
    @apply underline text-sm italic underline-offset-4 cursor-pointer whitespace-nowrap;
  }
}

/* //////////////////// ANIMATION */

.animation-space1 {
  background: linear-gradient(
    180deg,
    #01070d 30%,
    #02101e 75%,
    #04203a 90%,
    #062e54 100%
  );
}

.animation-clouds {
  background: linear-gradient(180deg, #062e54 0%, #1c5a96 33%, #2f8be3);
}
