@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(10, 75px);
  gap: 20px;
}

/* col-span-full */
.main-grid-element {
  grid-column: 1/-1;
}

@layer components {
  .test {
    @apply border border-blue-200 p-3 col-span-5 md:col-span-full;
  }
  .saffron {
    @apply col-span-7;
  }
  .planet {
    @apply col-span-3;
  }
  .modeChangeBackground {
    @apply relative border-2 rounded-[24px] w-[72px] h-[37px] transition-[border] hover:border-main overflow-hidden;
  }
}
