.ball {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: right 0.5s ease-in-out;
  width: 55px;
  height: 55px;
  cursor: pointer;
  border: 1px solid red;
}

.darkModePlanetContainer,
.lightModePlanetContainer {
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: max-content;
  border: 1px solid green;
}

.darkModeBall {
  right: -11px;
}

.lightModeBall {
  right: 24px;
}

.modeChangeStars {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 70px;
  transform: translate(-70%, -50%);
  animation: starAnimation 3s infinite;
}

@keyframes starAnimation {
  0% {
    opacity: 1;
    transform: translate(-70%, -50%) scale(1);
  }
  50% {
    opacity: 0.8;
    transform: translate(-70%, -50%) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translate(-70%, -50%) scale(1);
  }
}

.modeChangeClouds {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 20px;
  transform: translate(52%, -51%);
  animation: cloudAnimation 4s infinite ease-in-out;
}

@keyframes cloudAnimation {
  0% {
    opacity: 1;
    transform: translate(52%, -51%);
  }
  33% {
    transform: translate(55%, -55%);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translate(52%, -51%);
  }
}

.modeChangeBackgroundDarkMode,
.modeChangeBackgroundLightMode {
  width: 160px;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 55px;
}

.modeChangeBackgroundDarkMode {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(55, 55, 55, 1)
  );
}

.modeChangeBackgroundLightMode {
  background: linear-gradient(0deg, #0071f5, #1d24cf);
}

/* ////////////////////////////////////////////////////
v1
//////////////////////////////////////////////////// */

/* .darkMode {
  position: absolute;
  right: -85px;
  width: 250px;
  height: 80px;
  top: 50%;
  transform: translate(0, -50%);
  animation: moonAppear 0.8s ease-in-out forwards;
}

@keyframes moonAppear {
  0% {
    opacity: 0;
    right: 20px;
  }
  100% {
    opacity: 1;
    right: -85px;
  }
}

.darkModeOff {
  animation: darkModeOff 0.8s ease-in-out forwards;
}

@keyframes darkModeOff {
  0% {
    right: -85px;
    opacity: 1;
  }
  100% {
    right: 20px;
    opacity: 0;
  }
}

.lightMode {
  position: absolute;
  height: 100px;
  width: 250px;
  border: 1px solid gray;
  left: -80px;
  top: 50%;
  background: linear-gradient(0deg, #0071f5, #1d24cf);
  transform: translate(0, -50%);
  animation: sunAppear 0.5s ease-in-out forwards;
}

@keyframes sunAppear {
  0% {
    left: -20px;
    opacity: 0;
  }
  100% {
    left: -80px;
    opacity: 1;
  }
}

.lightModeOff {
  animation: lightModeOff 0.5s ease-in-out forwards;
}

@keyframes lightModeOff {
  0% {
    left: -80px;
    opacity: 1;
  }
  100% {
    left: -20px;
    opacity: 0;
  }
}

.moon {
} */
